header {
  position: absolute;
  left:0;
  top:0;
  width:50%;
  z-index:1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  text-align:center;
  

  @media screen and (max-width: 767px) {
    width:100%;
    flex-direction: column;
  }

  img {
    width:responsiveWidth(200,300);
    max-width:300px;
    height:auto;
  }
  
  &.header--full{
    width:100%;

    img {
      
      margin-left:responsiveWidth(30,1280);
    }

    button {
      
    }
  }
}