
* {
  //border: solid purple 1px;
}

body, html {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $black;
  font-family: 'Press Start 2P', 'Arial';
  color: $blue;
  height: 100%;
  text-transform: uppercase;
}

.splash {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .high-scores {
    color: red;
    padding: 10px 30px 5px 30px;
    text-align: center;
    border: solid $blue 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px 7px rgba(0, 0, 255, 0.8) inset;
    h3 {
      text-decoration: underline;
    }
  }

  .startGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    width: 100%;
    margin-top: 20px;
  }
}

.board {
  position: absolute;
  right: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  .row {
    display: flex;
    margin: auto 0;
  }
}

.endGameContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.messages {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.player-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.endGame {
  position: absolute;
  font-size: .75em;
  color: #00FF00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: solid $blue 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px 7px rgba(0, 0, 255, 0.8) inset;
  z-index: 10;
  text-align: center;
  border: solid blue 3px;

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .button {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.messages {
  z-index: -1;
}

.message {
  position: absolute;
  padding: 0;
  top: 0;
  color: #00FF00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 10vh;
  border: solid $blue 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px 7px rgba(0, 0, 255, 0.8) inset;
  z-index: 10;
  text-align: center;
  border: solid blue 3px;
}

.muteUnmute{
    position: absolute;
    padding: 20px;
    background: none;
    cursor:pointer;
    border:none;
    :hover {
        border: solid DodgerBlue 1px;
    }
    #mute, #unmute {
      position: absolute;
      height: 30px;
      width: 30px;
    }
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden; 
  display: none;
  
}
.opaque {
  opacity: 0.40;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}