/* Color Themes - Variables */

$blue: #0000FF;
$black: #000000;
$white: #FFFFFF;
$yellow: #FFFF00;
$green: #00FF00;

/* Color Themes - Variables */

$purple: #36213E;
$light-purple: #554971;
$dark-blue: #63768D;
$med-blue: #8AC6D0;
$light-blue: #B8F3FF;

/* Common Colors - Variables */

$off-wht: rgba(white,.4);

